[Unit]
Description=Budget App Service
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Type=simple

Restart=on-failure
RestartSec=2

User=grzegorzmika

Environment="DATABASE_URL=postgres://app:topsecret@localhost:5432/budget"

ExecStart=/home/grzegorzmika/budget_app
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
